<body>
<header>
		<div class="container">
			<div class="logo">
				<img src="/images/logo_home.png" alt="">

			</div>
			
			<div class="log-reg">
			{{#if loginedUser}}
				<div class="logined">
					<img src="images/logo_white.png" alt="">
					<span class="user-name"><a href="/personal">{{loginedUser.username}}</a></span>
					<span class="logout"><a href="/logout">登出</a></span>
				</div>
			{{else}}
				<div class="no-login">
					<button class="login button-green">注册</button>
					<button class="reg button-green">登录</button>
				</div>
			{{/if}}
			</div>
			<ul class="menu">
				<li><a href="/" class="active">首页</a></li>
				<li><a href="/edituser">编辑器</a></li>
				<li><a href="/tempcenter" >模板中心</a></li>
				<li>联系我</li>
			</ul>
		</div>
</header>
<section class="banner">
	<div class="container">
		<div class="title">
			极简的名片设计工具
		</div>
		<div class="sub-title">
			丰富场景	精致模板	便捷操作	一键输出
		</div>
		<a href="/edituser">
			<button class="start button-green">
				开始我的设计
			</button>
		</a>
	</div>
</section>
<section class="selected-temp">
	<div class="container">
		<div class="temp-title">
			精选模板
		</div>
		<div class="temp-sub-title">
			seleted template
		</div>
		<ul class="temp-type">
			<li class="business">商务</li>
			<li class="personality">个性</li>
			<div class="slide-blok"></div>
		</ul>
		<div class="temp-list">
			<ul class="slide-content temp-business">
				{{#each business}}
						<li>
							<a href="/edituser/{{_id}}">
								<img src="coverImg/{{coverFront}}" alt="">
								<p>{{title}}</p>
								
							</a>
							{{#if flag}}
								<i class="fa fa-heart collection collection-active"></i>
							{{else}}
								<i class="fa fa-heart collection"></i>
							{{/if}}
						</li>
						
				{{/each}}
				{{!-- 
				<li>
					<img src="coverImg/temp_default.png" alt="">
					<p>简约商务名片</p>
				</li> --}}
			</ul>
			<ul class="slide-content temp-personality">
				{{#each personality}}
						<li>
							<a href="/edituser/{{_id}}">
								<img src="coverImg/{{coverFront}}" alt="">
								<p>{{title}}</p>
							</a>
							{{#if flag}}
							<i class="fa fa-heart collection collection-active"></i>
							{{else}}
							<i class="fa fa-heart collection"></i>
							{{/if}}
						</li>
				{{/each}}
				{{!-- <div class="loader">	
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
					<p>加载中...</p>
				</div> --}}
			</ul>
			
		</div>
			<a href="/tempcenter">
			<button class="check-more button-grey">
				查看更多
			</button>
			</a>
		
		
	</div>
</section>
<footer class="info">
	<div class="container">
		<div class="site-info">
			<img src="images/logo_home_footer.png" alt="">
			<p>Copyright©luosj.cn 闽ICP备10047083号</p>
		</div>
		<div class="author-info">
			<img src="images/img_mine.png" alt="">
			<div class="detail">
				<div class="name">Jesse Luo</div>
				<p>网站作者</p>
				<p class="des">
					专注UI设计，热衷于运用图形界面和前端技术提高用户体检，热爱生活，喜欢运动
				</p>
			</div>		
		</div> 

	</div>
</footer>
{{> logreg}}
<script src="javascripts/index.js"></script>
<script src='javascripts/getCards.js'></script>
<script src="javascripts/account.js"></script>
</body>