<body>
<header>
		<div class="container">
			<div class="logo">
				<img src="images/logo_home.png" alt="">

			</div>
			
			<div class="log-reg">
			{{#if loginedUser}}
				<div class="logined" style="display:block">
					<img src="images/logo_white.png" alt="">
					<span class="user-name">{{loginedUser.username}}</span>
					<span class="logout"><a href="/logout">登出</a></span>
				</div>
			{{else}}
				<div class="no-login">
					<button class="login button-green">注册</button>
					<button class="reg button-green">登录</button>
				</div>
			{{/if}}
			</div>
			<ul class="menu">
				<li><a href="/">首页</a></li>
				<li><a href="/edituser">编辑器</a></li>
				<li><a href="/tempcenter">模板中心</a></li>
				<li>联系我</li>
			</ul>

		</div>
	</header>
	<section class="personal-top">
		<div class="container">
			<div class="user-avatar">	
				<img src="/images/logo_white.png" alt="默认头像" class="user-photo">
				<p class="user-name">JessLuo</p>
			</div>

			<ul class="temp-type personal-temp-type">
				<li class="business">我的收藏</li>
				<li class="personality">我的账户</li>
				<div class="slide-blok"></div>
			</ul>
		</div>
	</section>
	<section class="personal-content">
		<div class="container">
			<div class="slide-content temp-list" style="display:none">
				<ul>
					{{#each collections}}
							<li>
								<a href="/edituser/{{_id}}">
									<img src="coverImg/{{coverFront}}" alt="">
									<p>{{title}}</p>
								</a>
							</li>
							
					{{/each}}
				</ul>
			</div>
			<div class="slide-content acount-info">
				<div class="personal-username">	
					<label for="username">用户名</label>
					<input type="text" value="JesseLuo" disabled="" placeholder="请输入用户名">
					<span>修改</span>
				</div>
				<div class="personal-useremail">	
					<label for="username">邮箱</label>
					<input type="text" value="luo_sj@163.com" disabled="" placeholder="请输入邮箱地址">
					<span>修改</span>
				</div>
				<div class="personal-usercode">	
					<label for="username">密码修改</label>
					<input type="password" placeholder="请输入旧密码" disabled="">
					<span>修改</span>
				</div>
				<div class="personal-usercode">	
					<label for="username"></label>
					<input type="password" placeholder="请输入新密码" disabled="">
					<span>	</span>
				</div>
			</div>	
		</div>
	</section>
	<footer class="template">
		<p>Copyright©luosj.cn 闽ICP备10047083号</p>
	</footer>
	
	<script src="javascripts/index.js"></script>
	</body>